@import "./react-toggle.scss";
.App {
  background-color: #1f232e;
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 1fr 5fr 1fr;
  height: 100vh;
}
.rc {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 20px;
  color: white;
  font-weight: 100;
  text-align: left;
  .rcForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    .rcFormInput {
      padding: 5px;
      display: inline-block;
    }
  }
  .rcTotal {
    margin-top: 20px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
  }
}
.topbar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.footer {
  color: white;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 4;
}
